{% extends parent_template|default:"migrationcsv/base.html" %}{% load static %}{% block main %}
<section class="section-panel dark-panel simple-banner">
   <div class="container">
      <div class="row">
         <div class="col-md-9">
            <h1>We'd love to hear from you</h1>
            <p>If you’re ready to get started with Certus Cybersecurity or have more questions about what we do, we are here to help. Drop us a line or send us an email, and we’ll get back to you shortly.</p>
         </div>
      </div>
   </div>
</section>
<section id="contact-form" class="section-panel white-panel">
   <div class="container">
      <div class="row">
         <div class="col-md-4 contact-col">
            <h3>New Business Inquiries</h3>
            <a href="mailto:info@certuscyber.com">info@certuscyber.com</a>
            <h3>Recruiting</h3>
            <a href="mailto:recruiting@certuscyber.com">recruiting@certuscyber.com</a>
            <h3>Media</h3>
            <a href="mailto:media@certuscyber.com">media@certuscyber.com</a>
            <h3>Find Us Online</h3>
            <ul class="list-inline">
               <li><a href="https://twitter.com/certuscyber" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
               <li><a href="https://fb.me/CertusCyber" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
               <li><a href="https://www.linkedin.com/company/certus-cybersecurity-solutions-llc/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
{% endblock %}

