{% extends parent_template|default:"migrationcsv/base.html" %}{% load static %}{% block main %}
<section class="section-panel dark-panel simple-banner-small">
   <div class="container">
      <div class="row">
         
      </div>
   </div>
</section>
 <section class="section-panel white-panel three-item-block">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="section-intro-header">
               <h2>Articles & Webinars</h2>
            </div>
         </div>
      </div>
      <div class="row">
          <div class="col-sm-4 col-xs-12 blog-teaser" style="min-height:460px;">
            <a href="/cloud-security">
               <img src="{% static "img/blogs/cloud-security-certuscyber.png" %}" alt="​Cloud security: What every tech leader needs to know" style="max-width:100%" border="0">
            </a>
            <h4>​
               <a href="/cloud-security">​Cloud security: What every tech leader needs to know</a>
            </h4>
         </div>
         <div class="col-sm-4 col-xs-12 blog-teaser" style="min-height:460px;">
            <a href="/apple-card">
               <img src="{% static "img/blogs/apple-card.jpeg" %}" alt="Deconstructing Apple Card: A Hacker’s Perspective" style="max-width:100%" border="0">
            </a>
            <h4>​
               <a href="/apple-card">Deconstructing Apple Card: A Hacker’s Perspective</a>
            </h4>
         </div>
         <div class="col-sm-4 col-xs-12 blog-teaser" style="min-height:460px;">
            <a href="/medtronic">
               <img src="{% static "img/blogs/certus-medtronic.jpg" %}" alt="Critical Medtronic heart device flaws show need for Internet of Things (IoT) security" style="max-width:100%" border="0">
            </a>
            <h4>​
               <a href="/medtronic">Critical Medtronic heart device flaws show need for Internet of Things (IoT) security</a>
            </h4>
         </div>
         <div class="col-sm-4 col-xs-12 blog-teaser" style="min-height:460px;">
            <a href="/citrix">
               <img src="{% static "img/blogs/certus-citrix-vuln.jpeg" %}" alt="How to Protect Your Company Against Critix Attack" style="max-width:100%" border="0">
            </a>
            <h4>​
               <a href="/citrix">How to Protect Your Company Against Critix Attack</a>
            </h4>
         </div>
         <div class="col-sm-4 col-xs-12 blog-teaser" style="min-height:460px;">
            <a href="/fintech">
               <img src="{% static "img/blogs/certus-fintech-image.jpeg" %}" alt="Cybersecurity: Ten Things Fintech Leaders Need to Know" style="max-width:100%" border="0">
            </a>
            <h4>​
               <a href="/fintech">Cybersecurity: Ten Things Fintech Leaders Need to Know</a>
            </h4>
         </div>
         <div class="col-sm-4 col-xs-12 blog-teaser" style="min-height:460px;">
            <a href="/british-airlines">
               <img src="{% static "img/blogs/certus-british-airlines.jpeg" %}" alt="British Airways Data Breach: How Hackers Might Have Gotten in and What Businesses Can Do to Protect Themselves" style="max-width:100%" border="0">
            </a>
            <h4>​
               <a href="/british-airlines">British Airways Data Breach: How Hackers Might Have Gotten in and What Businesses Can Do to Protect Themselves</a>
            </h4>
         </div>
      </div>
   </div>
</section>

{% endblock %}


      
   
