<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      type="text/css"/>
<section class="section-panel white-panel blog-article">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="press" role="tabpanel">
                        <div class="col-sm-10">
                            {% for findings in object_list %}
                                <div class="tab-pane fade in active" id="press" role="tabpanel">
                                    <div class="row press-item"
                                         style="padding: 30px 0;border-bottom: 2px solid #0076FF">
                                        <div class="col-sm-10">
                                            <div class="press_header">
                                                {{ findings.date_last_edited }}

                                                <span class="author"
                                                      style="color:#404040;padding-left:4px;">{{ findings.reviwed_by }}</span>
                                            </div>
                                            <div class="info">
                                                <h4 style="font-size:32px;"><a
                                                        href="{% url 'findings-detail' findings.id %}">{{ findings.finding_name }}</a>
                                                </h4>
                                                <div class="truncate-text"><p>{{ findings.description }}</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="text-center">No findings Selected.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
